:root {
    --light-title-color: #ffffff;
    --dark-title-color: #303030;
    --light-text-color: #9DA4BD;
    --dark-text-color: #555555;
    --section-barbers: #f7f7f7f;
    --hover-color: #ff6c00;
    --typical-lh: 1.36;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    border-radius: 25px;
    border: 1px solid #FF6C00;
    background-color: transparent;
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.top-text {
    font-size: 11px;
    font-weight: 600;
    line-height: var(--typical-lh);
    text-transform: uppercase;
}

.title {
    font-family: Raleway, sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
    line-height: 1.17;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* HEADER */
.header {
    padding-top: 32px;
    background-color: gray;
}

.header-link {
    color: var(--light-title-color);
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
}

.header-address-link {
    color: var(--light-title-color);
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    font-style: normal;
}

.header-btn {
    color: var(--light-title-color);
}

/* HERO */
.hero {
    background-color: gray;
}

.social-network {
    color: var(--dark-title-color);
    font-family: Open Sans, sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.2px;
}

.hero-link {}

.hero-top-text {
    margin-bottom: 20px;
    color: var(--light-text-color, 60%);
}

.hero-title {
    margin-bottom: 20px;
    color: var(--light-title-color);
    letter-spacing: 3.6px;
}

.hero-bottom-text {
    color: var(--light-text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
}

/* ABOUT */
.about {
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-title {
    margin-bottom: 20px;
    color: var(--dark-title-color);
}

.about-bottom-title {
    margin-bottom: 20px;
    color: var(--dark-title-color);
}

.about-top-text {
    margin-bottom: 20px;
    color: var(--dark-text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
}

.about-bottom-text {
    margin-bottom: 42px;
    color: var(--dark-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.28px;
}

.about-btn {
    color: var(--dark-title-color);
}

/* SERVICES */
.services {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: gray;
}

.services-top-text {
    margin-bottom: 20px;
    color: var(--light-text-color, 60%);
}

.services-title {
    margin-bottom: 44px;
    color: var(--light-title-color);
}

.services-list {
    padding: 30px 20px;
}

.services-text {
    color: var(--light-text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.36px;
}

.services-btn {
    color: var(--dark-title-color);
}

/* BENEFITS */
.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-list {}

.benefits-item {}

.benefits-count {
    color: var(--dark-title-color);
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: var(--typical-lh);
    letter-spacing: 2.1px;
}

.benefits-item-text {
    color: var(--dark-title-color);
    font-size: 11px;
    font-weight: 600;
    line-height: var(--typical-lh);
}

.benefits-top-text {
    margin-bottom: 20px;
    color: var(--dark-title-color);
}

.benefits-title {
    margin-bottom: 20px;
    color: var(--dark-title-color);
}

.benefits-text {
    color: var(--dark-text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    letter-spacing: 0.36px;
}

/* BARBERS */
.barbers {
    padding-top: 120px;
    padding-bottom: 120px;
    border-color: var(--section-barbers);
}

.barbers-top-text {
    margin-bottom: 20px;
    color: var(--dark-title-color);
}

.barbers-title {
    margin-bottom: 44px;
    color: var(--dark-title-color);
}

.barbers-list {
    
}

.barbers-item {
    
}

.barbers-pic {
    margin-bottom: 30px;
}

.barbers-item-name {
    margin-bottom: 8px;
    color: var(--dark-title-color);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.39;
    letter-spacing: 0.02em;
}

.barbers-job-title {
    margin-bottom: 30px;
    color: var(--hover-color);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
}

/* GALERRY */
.gallery {
    padding-top: 120px;
    padding-bottom: 120px;
}

.gallery-top-text {
    margin-bottom: 44px;
    color: var(--dark-title-color);
}

.top-text {}

.gallery-list {}

.gallery-item {}

.sense-item {}

/* BOOKING */
.booking {
    background-color: #191C26;
}

.booking-title {
    color: var(--light-title-color);
}

/* CONTACTS */
.contact {
    padding-top: 130px;
    padding-bottom: 120px;
    background-color: #191C26;
}

.contact-title {
    margin-bottom: 40px;
    color: var(--light-title-color);
}

.contact-list {}

.contact-item {
    margin-bottom: 20px;
}

.contact-item:last-child {
    margin-bottom: 70px;
}

.contact-link {
    color: #9DA4BD;
    font-size: 18px;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

.contact-adress {
    font-weight: 700;
    
}

.contact-tel {
    color: #9DA4BD;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.36px;
    
}

.contact-email {
    font-weight: 400;
    text-decoration-line: underline;
}

.contact-subtitle {
    margin-bottom: 20px;
    color: var(--light-title-color);
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    text-transform: uppercase;
}

.contact-schedule {
    color: #9DA4BD;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

/* FOOTER */
.footer-text {
    color: #9DA4BD;
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.2px;
}

.footer-list {}

