:root {
  --light-title-color: #ffffff;
  --dark-title-color: #303030;
  --light-text-color: #9da4bd;
  --dark-text-color: #555555;
  --section-barbers: #f7f7f7;
  --section-booking: #191c26;
  --hover-color: #ff6c00;
  --typical-lh: 1.36;
  --transition: 300ms linear;
  --color-modal: #8e8f99;
  --bg-backdrop: rgb(0 0 0 / 20%);
}

body {
  font-family: "Open Sans", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid #ff6c00;
  background-color: transparent;
  width: 160px;
  height: 40px;
  cursor: pointer;
  transition: background-color var(--transition), color var(--transition);
}

.top-text {
  font-size: 11px;
  font-weight: 600;
  line-height: var(--typical-lh);
  text-transform: uppercase;
  gap: 20px;
  display: flex;
  align-items: center;
}

.top-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.title {
  font-family: Raleway, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
  line-height: 1.17;
}

.container {
  /* width: 100%;
  max-width: 1600px; */
  padding: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 448px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* ---------- MOB-HEADER ---------- */
.header {
  padding-top: 32px;
  position: absolute;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  fill: var(--light-title-color);
}

.header-list {
  display: none;
}

.header-address {
  display: none;
}

.burger-button {
    fill: var(--light-title-color);
    width: 24px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    padding: 0;
}

.header-btn {
  display: none;
}

.mob-menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  max-width: 70%;
  background-color: var(--light-title-color);
  padding: 48px 41px;
  transform: translateX(100%);
  transition: transform var(--transition);
}

.mob-menu.is-open {
  transform: translateX(0);
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
  border: none;
  background-color: transparent;
}

.mob-menu-navigation {
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}
.mob-menu-items {
}
.mob-menu-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  color: var(--dark-title-color);
  outline: none;
}

.mob-menu-link:focus {
  color: var(--hover-color);
}

.mob-menu-address {
  font-style: normal;
  margin-bottom: 19px;
}

.mob-menu-address-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  color: var(--dark-title-color);
}
.mob-menu-btn {
  width: 194px;
  margin-bottom: 69px;
}

.mob-menu-soc {
}

.mob-soc-list {
  padding-left: 100px;
  position: relative;
}

.mob-soc-list::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: var(--dark-title-color);
}

.social-list {
}
.mob-soc-item:not(:last-child) {
  margin-bottom: 24px;
}
.social-network {
}
.mob-soc-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--dark-title-color);
}


/* ---------- TAB-HEADER ---------- */
@media screen and (min-width: 768px) {
.header-logo {
  margin-right: 58px;
}

.logo {
  fill: var(--dark-title-color);
}

.mob-menu {
  display: none;
}

.header-container {
  align-items: flex-start;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
display: flex;
gap: 20px;
}

.header-link {
  color: var(--light-title-color);
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
}

.adress-wrap {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20px;
}

.header-address {
  display: block;
}

.burger-button {
display: none;
  }

.header-address-link {
  color: var(--light-title-color);
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  font-style: normal;
}

.header-btn {
  display: block;
  color: var(--light-title-color);
  background-color: transparent;
}
}

/* ---------- DESK-HEADER ---------- */
@media screen and (min-width: 1199px) {
.header-logo {
  margin-right: 130px;
}

.header-list {
gap: 30px;
}

.adress-wrap {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.header-address {
  display: block;
  margin-left: auto;
}

.header-btn {
  margin-left: 40px;
}
}

/* HERO */
.hero {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: gray;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg-mob@2x.jpg);
  }
}

.hero-soc {
  display: none;
}

.hero-wrap {
  flex-grow: 1;
  padding: 208px 0 208px;
}

.hero-top-text {
  margin-bottom: 20px;
  color: var(--light-text-color, 60%);
  display: flex;
}

.hero-title {
  margin-bottom: 20px;
  color: var(--light-title-color);
  letter-spacing: 3.6px;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.hero-bottom-text {
  color: var(--light-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
  letter-spacing: 0.36px;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
.hero {
  background-image: unset;
  background-color: unset;
}

.hero-container {
  display: flex;
}

.social-network {
  color: var(--dark-title-color);
  font-family: Open Sans, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}

.hero-soc {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 36px;
  padding-bottom: 40px;
}

.hero-list {
  display: flex;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  gap: 40px;
  align-items: center;
}

.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--dark-title-color);
}

.hero-link:hover {
  color: var(--hover-color);
}

.hero-wrap {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg-tab.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: gray;
  flex-grow: 1;
  padding: 272px 100px 238px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-wrap {
    background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg-tab@2x.jpg);
  }
}

.hero-bottom-text {
  color: var(--light-text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.36px;
  max-width: 360px;
}
}

@media screen and (min-width: 1200px) {
.hero-soc {
  padding-left: 27px;
}

.hero-wrap {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg-mob.jpg);
  padding: 272px 100px 208px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-wrap {
    background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg@2x.jpg);
  }
}

@media screen and (max-width: 767px), screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 190dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-wrap {
    background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-wrap {
    background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg-tab.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 190dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-wrap {
    background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg-tab@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-wrap {
    background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 190dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero-wrap {
    background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg@2x.jpg);
  }
}


.hero-title {
  font-size: 72px;
  line-height: 1.16;
}
}

/* ABOUT */
.about {
  padding-top: 84px;
  padding-bottom: 84px;
}

/* .about-container {
  display: flex;
  gap: 30px;
} */

.about-list {
  display: none;
}

.about-title {
  margin-bottom: 20px;
  color: var(--dark-title-color);
}

.about-bottom-title {
  width: 306px;
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--dark-title-color);
}

.about-top-text {
  margin-bottom: 20px;
  color: var(--dark-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.about-bottom-text {
  margin-bottom: 42px;
  color: var(--dark-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.28px;
}

.about-btn {
  color: var(--dark-title-color);
}

@media screen and (min-width: 768px) {
.about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: calc((100% - 30px) / 2);
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-shrink: 0;
  /* width: 330px; */
}

.about-img {
  width: 330px;
  height: 235px;
}

.about-bottom-title {
  width: 330px;
  font-size: 30px;
}
}

@media screen and (min-width: 1200px) {
  .about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-container {
  display: flex;
  gap: 30px;
}

.about-wrap {
  /* padding-right: 100px; */
  width: 470px;
}

.about-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.about-img {
  width: 270px;
  height: 445px;
}

.about-title {
  margin-bottom: 20px;
  color: var(--dark-title-color);
}

.about-bottom-title {
  width: 470px;
  font-size: 38px;
  margin-bottom: 20px;
  color: var(--dark-title-color);
}

.about-top-text {
  margin-bottom: 20px;
  color: var(--dark-text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.about-bottom-text {
  margin-bottom: 42px;
  color: var(--dark-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.28px;
}

.about-btn {
  color: var(--dark-title-color);
}
}

/* SERVICES */
.services {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #111319;
  background-image: url(../images/services-bg.png);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .services {
      background-color: #111319;
      background-image: url(../images/services-bg@2x.png);
    }
  }

.services-top-text {
  margin-bottom: 20px;
  color: var(--light-text-color, 60%);
}

.services-title {
  font-size: 40px;
  margin-bottom: 44px;
  color: var(--light-title-color);
}

.services-wrap {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%);
  padding: 30px 40px;
  margin-bottom: 44px;
}

.services-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
  gap: 4px;
}

.services-item::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.last-item-list {
  margin-bottom: 0;
}

.services-text {
  color: var(--light-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

.services-text:last-child {
  order: 1;
}

.services-btn {
  color: var(--light-title-color);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

@media screen and (min-width: 768px) {
.services {
  padding-top: 100px;
  padding-bottom: 100px;
}

.services-title {
  font-size: 42px;
}

.services-item {
  gap: 12px;
}

.services-text {
  font-size: 16px;
}
}

@media screen and (min-width: 1200px) {
.services {
  padding-top: 120px;
  padding-bottom: 120px;
}

.services-wrap {
  background-image: none;
  display: flex;
  padding: 0;
  gap: 30px;
  margin-bottom: 44px;
}

.services-list {
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.services-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.services-item::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.services-item:last-child {
  margin-bottom: 0;
}

.services-text {
  color: var(--light-text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

.services-text:last-child {
  order: 1;
}
}

/* BENEFITS */
.benefits {
  padding-top: 84px;
  padding-bottom: 84px;
}

.benefits-container {
  display: flex;
  flex-direction: column-reverse;
}

.benefits-list {
  display: flex;
  width: 418px;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.benefits-item {
  width: 100%;
  max-width: 193px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px 35px;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-count {
  color: var(--dark-title-color);
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: var(--typical-lh);
  letter-spacing: 2.1px;
  display: block;
  text-align: center;
  /* align-items: flex-start; */
  margin-bottom: 6px;
}

.benefits-count::after {
  content: "+";
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 1.38;
  color: transparent;
  vertical-align: top;
  text-shadow: 0 8px 0 var(--hover-color);
}

.benefits-wrap {
  margin-bottom: 44px;
}

.benefits-item-text {
  color: var(--dark-title-color);
  font-size: 11px;
  font-weight: 600;
  display: block;
  text-align: center;
  line-height: var(--typical-lh);
}

.benefits-top-text {
  margin-bottom: 20px;
  color: var(--dark-title-color);
}

.benefits-title {
  font-size: 38px;
  margin-bottom: 20px;
  color: var(--dark-title-color);
  max-width: 418px;
}

.benefits-text {
  color: var(--dark-text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.36px;
  max-width: 418px;
}

@media screen and (min-width: 768px) and (max-width:1199px){
  .benefits {
  padding-top: 100px;
  padding-bottom: 100px;
}

.benefits-list {
  width: 450px;
  margin-left: auto;
}

.benefits-item {
  width: 210px;
  padding: 20px 44px;
}

.benefits-title {}

.benefits-text {
  width: 500px;
}

}

@media screen and (min-width: 1200px) {
  .benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-container {
  display: flex;
  flex-direction: row;
  padding-left: 85px;
  gap: 130px;
}

.benefits-list {
  width: 370px;
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
}

/* .benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
} */

.benefits-wrap {
  padding-right: 100px;
}

.benefits-title {
  width: 430px;
}

.benefits-text {
  width: 500px;
}
}

/* BARBERS */
.barbers {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: var(--section-barbers);
}

.barbers-top-text {
  margin-bottom: 20px;
  color: var(--dark-title-color);
}

.barbers-title {
  margin-bottom: 44px;
  color: var(--dark-title-color);
}

.barbers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}

.barbers-item {
  /* width: calc((100% - 60px) / 3); */
  width: 100%;
}

.barbers-pic {
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}

.barbers-item-name {
  margin-bottom: 8px;
  color: var(--dark-title-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.39;
  letter-spacing: 0.02em;
}

.barbers-job-title {
  margin-bottom: 30px;
  color: var(--hover-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-item {
  width: 44px;
  height: 44px;
}

.barbers-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--light-title-color);
}

.barbers-soc-icon {
  transition: fill var(--transition);
}

.barbers-soc-icon:hover {
  fill: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .barbers {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .barbers-list {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .barbers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .barbers-list {
    width: 1170px;
  }

  .barbers-item {
    width: calc((100% - 60px) / 3);
  }

  .barbers-list {
    gap: 30px;
  }
}

/* GALERRY */
.gallery {
  padding-top: 90px;
  padding-bottom: 90px;
}

.gallery-top-text {
  margin-bottom: 70px;
  color: var(--dark-title-color);
}

.top-text {
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 30px;
}

.gallery-item {
  /* width: calc((100% - 90px) / 4); */
  width: 100%;
}

.gallery-pic {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-width: 418px;
}

/* @media screen and (min-width: 480px) {
.container {
    max-width: 448px;
  }
} */

@media screen and (min-width: 768px) {
  /* .container {
    max-width: 720px;
  } */

  .gallery-top-text {
    margin-bottom: 44px;
  }

  .gallery-item {
    width: calc((100% - 30px) / 2);
  }

  .gallery-pic {
    max-width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  /* .container {
    max-width: 1200px;
  } */

  .gallery {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .gallery-top-text {
    margin-bottom: 44px;
  }

  .gallery-item {
    width: calc((100% - 90px) / 4);
  }
}

/* CONTACTS */
.contacts {
  background-color: var(--section-booking);
}

@media screen and (min-width: 1200px) {
  .contact-container {
    display: flex;
  }
}


/* Form  */
.contact-form {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: var(--section-booking);
}

.booking-form {
}

.booking-title {
  color: var(--light-title-color);
  margin-bottom: 44px;
}


.online-field {
  position: relative;
  margin-bottom: 44px;
  /* width: 100%;
  max-width: 418px; */
}

.online-field:last-child {
  flex-basis: 100%;
}

.online-text {
  width: 100%;
}

.online-item {
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--light-title-color);
  transition: border-color var(--transition);
}

.online-item:focus,
.online-item:not(:placeholder-shown) {
  border-color: var(--light-title-color);
}

.online-item:focus + .online-label,
.online-item:not(:placeholder-shown) + .online-label {
  transform: translateY(-100%);
  color: var(--light-title-color);
}

.online-input {
  width: 100%;
  /* max-width: 418px; */
  height: 24px;
  transition: transform var(--transition), border-color var(--transition);
}

.online-label {
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(157, 164, 189, 0.4);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: transform var(--transition), color var(--transition);
}

.online-text {
  /* width: 100%;
  max-width: 418px; */
  height: 62px;
  resize: none;
}

.online-btn {
  color: var(--light-title-color);
  display: block;
  margin: auto;
}


@media screen and (min-width: 768px) {
  .contact-form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.booking-form {
}

.form-wraper {
  display: flex;
  flex-wrap: wrap;
}

.online-field:first-child {
  margin-right: 30px;
}

.online-field:first-child, 
.online-field:nth-child(2) {
  flex-basis: calc((100% - 30px) / 2);
}

.online-btn {
  margin: 0;
}
}

@media screen and (min-width: 1200px) {
  .contact-form {
  padding-top: 120px;
  padding-bottom: 120px;
  width: calc(50% + 15px);
}

.booking-form {
  padding-right: 40px;
}

.online-field:last-child {
  flex-basis: 100%;
}

.online-text {
  width: 100%;
}
}

/* CONTACTS */
.contact-info {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: var(--section-booking);
  background-image: url(../images/contact-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .contact-info {
  background-image: url(../images/contact-bg@2x.png);
  }
}

.contacts-title {
  margin-bottom: 40px;
  color: var(--light-title-color);
}

.contacts-list {
}

.contacts-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.contacts-icon {
  stroke: var(--light-text-color);
  fill: transparent;
  margin-right: 16px;
}

.contacts-item:last-child {
  margin-bottom: 44px;
}

.contacts-link {
  color: #9da4bd;
  font-size: 18px;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.contacts-adress {
  font-weight: 700;
}

.contacts-tel {
  color: #9da4bd;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

.contacts-email {
  font-weight: 400;
  text-decoration-line: underline;
}

.contacts-subtitle {
  margin-bottom: 20px;
  color: var(--light-title-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contacts-subtitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.contacts-schedule {
  color: #9da4bd;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
.contacts-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
}

@media screen and (min-width: 1200px) {
.contact-info {
  padding-top: 120px;
  padding-bottom: 120px;
  width: calc(50% - 15px);
  padding-left: 100px;
  width: calc(50% - 15px);
  background-color: #191c26;
  background-position: center;
  background-size: cover;
}

.contacts-list {
}

.contacts-item:last-child {
  margin-bottom: 70px;
}
} 

/* CONTACT */
/*.online-contacts-wrap {
  background-color: var(--section-booking);
  margin: 0 auto; 
}  */

/* @media screen and (max-width:1199px) {
  .online-contacts-wrap {
  background-image: url(../images/contact-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
}*/

/* @media screen and (min-width: 1200px) {
.online-contacts-wrap {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--section-booking);
  background-size: calc(50% - 15px) 100%;
}
} */

/*.online-contacts-wrap > .container {
  display: flex;
} 
}*/
/* BOOKONG */
/* .booking {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: var(--section-booking);
}

.booking-title {
  color: var(--light-title-color);
  margin-bottom: 44px;
}


.online-field {
  position: relative;
  margin-bottom: 44px;
  width: 100%;
  max-width: 418px;
}

.online-item {
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--light-title-color);
  transition: border-color var(--transition);
}

.online-item:focus,
.online-item:not(:placeholder-shown) {
  border-color: var(--light-title-color);
}

.online-item:focus + .online-label,
.online-item:not(:placeholder-shown) + .online-label {
  transform: translateY(-100%);
  color: var(--light-title-color);
}

.online-input {
  width: 100%;
  max-width: 418px;
  height: 24px;
  transition: transform var(--transition), border-color var(--transition);
}

.online-label {
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(157, 164, 189, 0.4);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: transform var(--transition), color var(--transition);
}

.online-text {
  width: 100%;
  max-width: 418px;
  height: 76px;
  resize: none;
}

.online-btn {
  color: var(--light-title-color);
}

@media screen and (max-width: 767px) {
  .online-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .online-field-wrap {
    width: 100%; 
    max-width: 418px;
  }

  .online-input {
    width: 100%; 
  }

  .online-text {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
.booking {
  padding-top: 100px;
  padding-bottom: 100px;
}

.online-field-wrap {
  display: flex;
  gap: 30px;
}

.online-input {
  min-width: 330px;
  width: 100%;
}

.online-text {
  min-width: 690px;
  width: 100%;
}
}

@media screen and (min-width: 1200px) {
.booking {
  padding-top: 120px;
  padding-bottom: 120px;
  width: calc(50% + 15px);
  padding-right: 30px;
  padding-left: 130px;
}

.online-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.online-field-wrap {
  display: flex;
  gap: 30px;
}

.online-input {
  min-width: 270px;
  transition: transform var(--transition), border-color var(--transition);
}

.online-wrap-mess {
  width: 100%;
}

.online-text {
  min-width: 570px;
}
} */

/* CONTACTS */
/* .contacts {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: var(--section-booking);
  background-image: url(../images/contact-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .contacts {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: var(--section-booking);
  background-image: url(../images/contact-bg@2x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  }
}

.container-contacts {
  background-image: url(../images/contact-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
}

.contacts-title {
  margin-bottom: 40px;
  color: var(--light-title-color);
}

.contacts-list {
}

.contacts-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.contacts-icon {
  stroke: var(--light-text-color);
  fill: transparent;
  margin-right: 16px;
}

.contacts-item:last-child {
  margin-bottom: 44px;
}

.contacts-link {
  color: #9da4bd;
  font-size: 18px;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.contacts-adress {
  font-weight: 700;
}

.contacts-tel {
  color: #9da4bd;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

.contacts-email {
  font-weight: 400;
  text-decoration-line: underline;
}

.contacts-subtitle {
  margin-bottom: 20px;
  color: var(--light-title-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contacts-subtitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.contacts-schedule {
  color: #9da4bd;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
.contacts {
  padding-top: 100px;
  padding-bottom: 100px;
}
}

@media screen and (min-width: 1200px) {
.contacts {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 100px;
  width: calc(50% - 15px);
  background-color: #191c26;
  background-position: center;
  background-size: cover;
}

.contacts-list {
}

.contacts-item:last-child {
  margin-bottom: 70px;
}
} */

/* FOOTER */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  color: #9da4bd;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}

.footer-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.footer-list::before {
  content: " ";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.footer-link {
  color: var(--dark-title-color);
}

/* MODAL*/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--bg-backdrop);
  top: 0;
  transition: opasity var(--transition), visibility var(--transition);
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  max-width: 410px;
  min-height: 510px;
  width: 100%;
  background-color: var(--section-barbers);
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: var(--transition);
  padding: 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
  display: block;
  margin-left: auto;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid;
  border-color: var(--hover-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color var(--transition), fill var(--transition);
  margin-bottom: 24px;
}

.modal-close:hover {
  background-color: var(--hover-color);
  fill: var(--light-title-color);
  border-color: transparent;
}

.form-subtitle {
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: var(--section-booking);
  margin-bottom: 16px;
  text-align: center;
}

.contact-form {
}

.form-field:nth-child(-n + 3) {
  margin-bottom: 8px;
}

.form-label {
  color: var(--dark-text-color);
  font-size: 12px;
  font-weight: 400;
  /* line-height: 30px; */
  letter-spacing: 0.36px;
}

.input-wrap {
  position: relative;
  margin-top: 4px;
}

.form-input {
  font-size: 12px;
  font-weight: 400;
  /* line-height: 30px; */
  letter-spacing: 0.36px;
  max-width: 360px;
  height: 40px;
  width: 100%;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid var(--dark-text-color);
  color: var(--dark-text-color);
  padding-right: 16px;
  outline: transparent;
  transition: border-color var(--transition);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--hover-color);
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--hover-color);
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition);
}

.form-field:nth-child(4) {
  margin-bottom: 16px;
}

.form-textarea {
  max-width: 360px;
  width: 100%;
  color: var(--dark-text-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36px;
  padding-left: 16px;
  padding-right: 16px;
  outline: transparent;
  display: block;
  margin-top: 4px;
  resize: none;
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--dark-text-color);
  transition: border-color var(--transition);
}

.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--hover-color);
}

.form-comment::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.form-field:nth-child(5) {
  margin-bottom: 24px;
}

.checkbox-text {
  color: var(--dark-text-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form-icon-wrap {
  display: flex;
  width: 14px;
  height: 14px;
  border: 1.25px solid var(--dark-text-color);
  border-radius: 2px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color var(--transition), border-color var(--transition),
    fill var(--transition);
}

.checkbox-input:checked + .checkbox-text .form-icon-wrap {
  background-color: var(--hover-color);
  fill: var(--light-title-color);
  border-color: var(--hover-color);
}

.checkbox-link {
  color: var(--hover-color);
  text-decoration: underline;
}

.form-btn {
  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--hover-color);
  color: var(--light-title-color);
}
