body {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-secondary);
    background-color: var(--color-primery-inverted);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.85;
}