<header class="header">
  <div class="container">
    <div class="header-container">
      <nav class="header-nav">
        <a href="#" alt="logo-link">
          <svg class="logo">
            <use href="../images/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <button class="burger-button" type="button">
          <svg class="burger-icon">
            <use href="../images/icons.svg#icon-burger"></use>
          </svg>
        </button>
      </nav>
    </div>
  </div>
</header>
